:host {
  display: block;
}

.cover-image{
  width: 100%;
  height: 200px;
  background-color: rgba(73, 156, 129, 0.384);
  border-radius: 15px;
  color: aliceblue;
  display: grid;
}

.cover-title{
  margin-top: 74px;
}

.menu-container{
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.menu-item-container{
  padding: 5px;
  height: 200px;
}

.item-group-nav-bar{
  height: 50px;
}

.item-group{
  top: 50px;
  position: sticky;
  background-color: rgb(255, 255, 255);
}
